body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

main {
    color: black;
}

/* Navbar Styles */

    .navbar {
        display: flex;
        flex-direction: row;
        height: 50px;
        color: white;
        background-color: #a83632;
    }

    .navbar-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }

    .navbar-links-container {
        display: flex;
        margin-left: 1000px;
    }

    .navbar-link:link, .navbar-link:visited {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        color: white;
        text-decoration: none;
        opacity: 1;
        transition: .25s;
    }

    .navbar-link:hover {
        opacity: .75;
    }

    .dark-mode-button {
        border: #a83632;
        color: white;
        background-color: #a83632;
        width: 50px;
        margin-left: 25px;
        cursor: pointer;
    }

/* General Styles */

    .page-header h1 {
        display: flex;
        justify-content: center;
    }

    .section-header h1 {
        display: flex;
        justify-content: center;
    }

/* Landing Styles */

    .landing-container {
        height: 100vh;
    }

    .landing-description-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .landing-image-links {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .column {
        float: left;
        width: 33.33%;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    
    figcaption {
        background-color: black;
        color: white;
        font-style: italic;
        padding: 2px;
        text-align: center;
    }

/* Topic Styles */

    .categories-container {
        height: 100vh;
        margin-bottom: 50px;
    }

    .category-grid-wrapper {
        display: flex;
        justify-content: center;
    }

    .category-grid-container {
        display: grid;
        justify-content: center;
        width: 600px;
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #a83632;
        border-radius: 15px;
        background-color: #a83632;
        color: white;
        cursor: pointer;
    }

    .item:link, .item:visited {
        text-decoration: none;
        color: white;
    }

/* Forum Styles */

    .forum-container {
        height: 100vh;
    }

    .forum-create-post {
        margin-left: 250px;
        background-color: #a83632;
        border-radius: 5px;
        text-decoration: none;
        color: white;
    }

    .forum-post-container {
        margin-left: 250px;
        margin-right: 250px;
        background-color: #e2e2e2;
        border-radius: 15px;
    }

    .forum-post-link {
        padding: 10px;
        text-decoration: none;
        border: 5px solid black;
        border-radius: 5px;
    }

    .forum-post-link a {
        color: black;
        text-decoration: none;
    }



/* About Styles */

    .about-container {
        height: 100vh;
    }

/* Footer Styles */

    .footer-container {
        margin-top: 100px;
        bottom: 0;
        width: 100%;
        height: 10rem;
        background-color: #171717;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-header h1 {
        display: flex;
        justify-content: center;
        color: white;
    }