body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

main {
    color: black;
}

/* Navbar Styles */

    .navbar {
        display: flex;
        flex-direction: row;
        height: 50px;
        color: white;
        background-color: #a83632;
    }

    .navbar-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }

    .navbar-links-container {
        display: flex;
        margin-left: 1000px;
    }

    .navbar-link:link, .navbar-link:visited {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        color: white;
        text-decoration: none;
        opacity: 1;
        transition: .25s;
    }

    .navbar-link:hover {
        opacity: .75;
    }

/* General Styles */

    .page-header h1 {
        display: flex;
        justify-content: center;
    }


    .section-header h1 {
        display: flex;
        justify-content: center;
    }




/* Landing Styles */


/* Category Styles */

    .categories-container {
        margin-bottom: 50px;
    }

    .category-grid-wrapper {
        display: flex;
        justify-content: center;
    }

    .category-grid-container {
        display: grid;
        justify-content: center;
        width: 600px;
        height: 600px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #a83632;
        border-radius: 15px;
        background-color: #a83632;
    }

    .item p {
        color: white;
    }

/* Forum Styles */



/* About Styles */



/* Footer Styles */

    .footer-container {
        bottom: 0;
        width: 100%;
        height: 10rem;
        background-color: #171717;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-header h1 {
        display: flex;
        justify-content: center;
        color: white;
    }